Button{
    margin-top: 5%;
}

.petscard{
    margin-left: 37%;
    background-color: #fbc02d;
    width: 25%;
    border-radius: 10px;
    text-align: center;
}

.header{
    margin-left: 37%;
    background-color: #fbc02d;
    width: 25%;
    height: 130px;
    border-radius: 10px;
    text-align: center;
}

h1{
    margin-top: 0px;
    font-size: 3.5rem;
    line-height: 100%;
    font-weight: bold;
    color: black;
}