Button{
    margin-top: 5%;
    margin-left: 30%;
}

.container-fluid{
background-image: url("./dust_scratches.png");
padding-bottom: 20%;
}

.petscard{
    margin-left: 37%;
    background-color: silver;
    width: 25%;
    border-radius: 10px;
}

.header{
    margin-left: 37%;
    background-color: silver;
    width: 25%;
    height: 130px;
    border-radius: 10px;
    text-align: center;
}

h1{
    margin-top: 0px;
    font-size: 3.5rem;
    line-height: 100%;
    font-weight: bold;
    color: darkcyan;
}